
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar-main{
    font-family: 'Poppins', sans-serif;
    background-color: #F1F0EA;
    
    .Navbar{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 73rem;
        animation-name: navAnimation;
        animation-duration:2s;
        animation-delay: .4s;
        .Navlist{
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
            align-items: center;

            a{  
                text-decoration: none;
            }
            .ull{
                padding: 10px 15px;
                font-size: 20px;
                list-style: none;
                font-weight: 600;
                color: #2D232E;
                cursor: pointer;
                transition: .2s;

                &:hover{
                    transform: translateY(-3px);
                    transition: .2s;
                    font-size: 22px;
                }
            }
        }
    }
}

@keyframes navAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}